.circle-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-container {
  margin-top: 600px;
  padding-bottom: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-item {
  object-fit: cover;
  position: absolute;
  width: 250px;
  height: 350px;
  background: #0a0807;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 15px #4f0f0f;
  animation: animateCircle 20s linear infinite;
  opacity: 0;
}

.circle-item:nth-child(1) {
  animation-delay: 0s;
}
.circle-item:nth-child(2) {
  animation-delay: 3s;
}
.circle-item:nth-child(3) {
  animation-delay: 6s;
}
.circle-item:nth-child(4) {
  animation-delay: 9s;
}
.circle-item:nth-child(5) {
  animation-delay: 12s;
}
.circle-item:nth-child(6) {
  animation-delay: 15s;
}
.circle-item:nth-child(7) {
  animation-delay: 18s;
}

@keyframes animateCircle {
  0% {
    transform: rotate(0deg) translateX(370px) rotate(0deg);
  }
  1% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg) translateX(370px) rotate(-360deg);
  }
}
