.section {
  width: 100%;
  height: 300vh;
  position: relative;
}

.scroller {
  width: 36%;
  height: 105px;
  position: absolute;
  left: 50%;
  top: 33%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.eye-container {
  height: 100%;
  display: flex;
}

.eyes {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section-pinned {
  background-image: url(../assets/img/frida.png);
  background-position: center;
  background-repeat: no-repeat;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
}

.full-bg {
  background: linear-gradient(
    271deg,
    #d4a28b 4%,
    #dfab97 25%,
    #eab8ab 44%,
    #dfab97 69%,
    #d4a28b 91%
  );
  background-position: center;
  background-repeat: no-repeat;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
}
